# DataFrames
###### Series = 1D array
###### DataFrame = 2D array
###### Rows, Index, Series
###### Dataframes can be build from arrays (lists), dictionary, CSV Files

In [6]:
import pandas as pd
import numpy as np

In [10]:
#creating an array (NumPY)
data = np.array([[1,4], [2,5], [3,6]])
data

array([[1, 4],
       [2, 5],
       [3, 6]])

In [15]:
#creata a dataframe (Pandas)
df = pd.DataFrame(data, index=["row1", "row2", "row3"], columns=["col1", "col2"])
df

      col1  col2
row1     1     4
row2     2     5
row3     3     6

In [18]:
#Can be used interchangeeably
bt = pd.DataFrame(data, columns=["col1", "col2"], index=["row1", "row2", "row3"])
bt

      col1  col2
row1     1     4
row2     2     5
row3     3     6

# Option 2