In [ ]:
import pandas as pd
import numpy as np

# Creating Dataframe

### 1.1 Dataframe with numpy

In [ ]:
#Creating an array
data = np.array([[1,4],[2,5],[3,6]])
data

In [ ]:
#creating a dataframe
df = pd.DataFrame(data, index=["row1", "row2","row3" ], columns=["column1", "column2"])

In [ ]:
#showing dataframe
df

### 1.2 Dataframe without numpy

In [ ]:
data = [[1,4], [2,5], [3,6]]

In [ ]:
df = pd.DataFrame(data, index=["row1", "row2","row3" ], columns=["column1", "column2"])

In [ ]:
df

### 1.3 Dataframy from dictionary

In [ ]:
states = ["California", "Texas", "Florida", "New York"]
population = [1241234134,12341543,2345243,123411]

In [ ]:
#Storing list
dict_state={"States":states,"Population":population}
dict_state

In [ ]:
df_population = pd.DataFrame(dict_state)
df_population

### 1.4 DataFrama from CSV file

In [28]:
#Import
df_exams = pd.read_csv("Python for Excel Users-20221029T160622Z-001\Python for Excel Users\StudentsPerformance.csv")

In [29]:
df_exams.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75